# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data
*.tmp
*.log
*.bak
.DS_Store
Thumbs.db

# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache/
/.spec-workflow/templates/design-template.md
/.spec-workflow/templates/product-template.md
/.spec-workflow/user-templates/README.md
/.spec-workflow/templates/requirements-template.md
/.spec-workflow/templates/structure-template.md
/.spec-workflow/templates/tasks-template.md
/.spec-workflow/templates/tech-template.md
